*.suo
*.snk
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
/packages
*.score.ini
*.tja
*.ogg
Favorite.json
NamePlate.json
RecentlyPlayedSongs.json
/Test/Global/Characters/0
/Test/PuchiChara/0
/Test/System/my-skin
/Test/Capture_img
warm-up/
/Test/Songs
/Test/System